{% extends 'base.html.twig' %}

{% block title %}{{'New user'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Create new user'|trans}}</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('user_index') }}">{{'back to list'|trans}}</a><br>
{% endblock %}
